body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
}
a{
	 color: inherit
}
#referenceCriteriaDiv {
    display: none;
}
.okBTN, .resetBTN, .deleteBTN{
   color: white!important;
    border-radius: 2px!important;
    background-color: #42a2eb!important;
    border: solid 1px #42a2eb!important;
    box-shadow: none!important;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 100px;
}
.resetBTN
{
	color: #333!important;
    border-radius: 2px!important;
    background-color: #fff!important;
    border: solid 1px #444!important;
    margin-left: 10px;
}
.deleteBTN{
	color: #fff!important;
    border-radius: 2px!important;
    background-color: #FF0000!important;
    border: solid 1px #444!important;
    margin-left: 10px;
}
.authorizeBTN{
	width: initial;
    margin-left: 46%;
    background: #FF5722;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 21px;
    padding: 5px;
    margin-top: 15px;
    
}
.addNewBTN{
    background: #429245;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 21px;
    padding: 5px;
    margin-top: 15px;
    width: 80px;
    display:none
}
.newSelect:before {
	content: "";
    display: block;
    height:30px;
    pointer-events: none;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 19px;
    -webkit-padding-before: 1px;
    pointer-events: none;
    padding: 0 0 2px;
    -webkit-padding-bottom:0px;
}

.newSelect select {
	width:100%;
	height:34px;
	overflow: hidden;
	padding: 2px 7px;
	margin: 0;
	background: #fff;
	border: 1px solid #ccc;
	outline: none;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	padding-right:25px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;	
	border-radius: 0px;	
	text-overflow: ellipsis;	
	white-space: nowrap;	
	-webkit-padding-end: 20px;	
	-webkit-padding-before: 5px;	
	-webkit-padding-after: 5px;	
	-webkit-padding-start: 5px;	
	font-size: 15px;
	color: #333;
	}
.newSelect:after {
    /* content: url(/images/dropdown.png); */
	background-position: 20px 10px;
	right: 10px;
	top:13px;
	padding: 0 0 2px;
	position: absolute;
	pointer-events: none;
	-webkit-padding-before: 1px;
	width: 0px\9;
	height: 0px\9;
	
}
.newSelect {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.newSelect select > option {
    padding: 0 5px;
}

.inputTag {
    border: 1px solid #CCCCCC;
    float: left;
    padding:7px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #333;
    font-size: 15px;
}
td 
{
	padding:12px 10px;
}
#criteriaHeadder td
{
    border-bottom: solid 1px #ddd;
    border-top: solid 1px #ddd!important;
    padding: 6px 10px;
}

.run-text
{
	width:450px;
    margin:30px auto 22px;
    text-align: center;
    color:#444;
	font-size: 27px;
}
.center
{
	text-align: center;
}
.successMsg, .loadingMsg{
    background:#8dc37c;
    border: 1px solid #439c28;	
    color: #f7f7f7;
    display: block;
    font-size: 15px;
    left: 40%;
    margin: auto;
    min-width: 300px;
    padding: 5px 10px;
    position: fixed;
    text-align: center;
    top: 0px;
    z-index: 9999;
}
.loadingMsg{
	    background:#FFEB3B;
		color:#000;
}
#content input[disabled] {
    color: rgba(225,225,225,1);
    background-image: none;
    background-color: rgba(225,225,225,1);
}
::-webkit-input-placeholder {
   color: rgba(225,225,225,1);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(225,225,225,1);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(225,225,225,1);  
}

:-ms-input-placeholder {  
   color: rgba(225,225,225,1);  
}
div.icon div.plus:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 16px;
    background: #009688;
    left: 7px;
    top: -7px;
}
div.icon div.plus {
    width: 16px;
    height: 2px;
    background: #009688;
    position: absolute;
    left: 5px;
    top: 11px;
}
div.icon {
    height: 25px;
    width: 25px;
    position: relative;
    /* margin: 15px; */
    overflow: hidden;
    display: inline-block;
    border-color: #bbadad;
    border-style: solid;
    border-radius: 11px;
}
div.icon div.minus {
	width: 16px;
    height: 2px;
    background: #e0291b;
    position: absolute;
    left: 5px;
    top: 12px;
}
